{% extends 'financial/base_finantial.html' %}


{% block 'context' %}
<div class="container mt-5">
    <h1>Planejamento</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Categoria</th>
          <th scope="col">Valor</th>
          <th scope="col" class="text-end"></th>
        </tr>
      </thead>
      <tbody>

        {% for category in categories %}
        <tr>
        
          <td>{{ category.category }}</td>
          <td><input type="number" id='value-category-{{ category.id }}' class="form-control" style="max-width: 100px;" placeholder="0.0" step="0.01" required></td>
          <td class="text-end"><button onclick="update_value_planning_category({{ category.id }})" class="btn btn-primary">Salvar</button></td>
       
        </tr>
        {% endfor %}

      </tbody>
    </table>
    <a href="{% url 'financial_index' %}"><button type="button" class="btn btn-light">Voltar</button></a>
  </div>

  <script>
    function update_value_planning_category(id){
        value = document.getElementById('value-category-'+id).value
    }
  </script>
  
{% endblock %}