{% extends 'global/base.html' %}

{% block 'title' %}Entradas e saídas{% endblock %}

{% block 'content' %} 
<div class="container mt-5">
    <h2>Registro de Entradas e Saídas</h2>
    <form>{% csrf_token %}
        <div class="mb-3">
            <label for="valor" class="form-label">Valor</label>
            <input type="text" class="form-control" id="valor" name="valor" required>
        </div>
        <div class="mb-3">
            <label for="categoria" class="form-label">Categoria</label>
            <select class="form-select" id="categoria" name="categoria" required>
                 <option value="">Selecione uma categoria</option>
                {% for category in categories %}
                <option value="{{category.id}}">{{ category }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <textarea class="form-control" id="descricao" name="descricao" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="data" class="form-label">Data</label>
            <input type="date" class="form-control" id="data" name="data" required>
        </div>
        <div class="mb-3">
            <label for="conta" class="form-label">Conta</label>
            <select class="form-select" id="conta" name="conta" required>
                <option value="">Selecione uma conta</option>
                {% for account in accounts %}
                    {% for choice in account.BANK_CHOICES %}
                        {% if choice.0 == account.bank %}
                            <option value="{{ account.id }}" {% if account_get == account.id %}selected{% endif %}>{{ choice.1 }}</option>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </select>
            
        </div>
        <div class="mb-3">
            <label class="form-check-label">Tipo</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="tipo" id="entrada" value="entrada" required>
                <label class="form-check-label" for="entrada">Entrada</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="tipo" id="saida" value="saida" required>
                <label class="form-check-label" for="saida">Saída</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div>










{% endblock %}