{% extends 'financial/base_finantial.html' %} {% block 'context' %}
<div class="container mt-5">
  <h2>Adicionar contas</h2>
              {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Importante: {% endif %}
                        {{ message }}
                        </li>
                        {% endfor %}
                </ul>
              {% endif %}
  <form action="{% url 'accounts' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="tituloInput">Título</label>
      <input
        type="text"
        class="form-control"
        id="tituloInput"
        name="title"
        placeholder="Informe o título"
      />
    </div>

    <div class="form-group">
      <label for="categoriaSelect">Categoria</label>
      <select class="form-control" id="categoriaSelect" name="category">
        <option value="">Selecione uma categoria</option>
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category }}</option>
        {% endfor %}

        <!-- outras opções aqui -->
      </select>
    </div>

    <div class="form-group">
      <label for="descricaoInput">Descrição</label>
      <textarea
        class="form-control"
        id="descricaoInput"
        name="description"
        rows="3"
        placeholder="Descreva o item"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="valorInput">Valor</label>
      <input
        type="number"
        step="0.01"
        class="form-control"
        id="valorInput"
        name="value"
        placeholder="Informe o valor"
      />
    </div>

    <div class="form-group">
      <label for="vencimentoInput">Dia de Vencimento</label>
      <input
        type="date"
        class="form-control"
        id="vencimentoInput"
        name="bill_day"
      />
    </div>
    <br />

    <a href="#"
      ><button type="submit" class="btn btn-primary">Salvar</button></a
    >
    <a href="{% url 'financial_index' %}"
      ><button type="button" class="btn btn-light">Voltar</button></a
    >
  </form>
</div>
{% endblock %}
