{% extends 'global/base.html' %}


{% block 'content' %}
<h1 style="text-align: center;">Detalhes do Investimento</h1>
<div class="container">
    <table class="table table-hover table-bordered">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Valor</th>
            <th>Pago</th>
        </tr>
        <tr>
            <td>{{ detail.id }}</td>
            <td>{{ detail.name }}</td>
            <td>{{ detail.value }}</td>
            <td>{{ detail.status }}</td>
        </tr>
    </table>

    <a href="{% url 'investment' %}"><button type="button" class="btn btn-secondary">Voltar</button></a>
</div>

{% endblock %}