{% extends 'global/base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'investments/css/investments.css' %}">
{% endblock %}

{% block 'title' %} 
    Investimento
{% endblock %}

{% block 'content' %} 
<div class="container mt-5 px-2">
    
    <div class="mb-2 d-flex justify-content-between align-items-center">
        
        <div class="position-relative">
            <span class="position-absolute search"><i class="fa fa-search"></i></span>
            <input class="form-control w-100" placeholder="pesquisar...">
        </div>
        <a href="{% url 'new_investment' %}" class="btn btn-outline-primary">Novo investimento</a>
        
        
    </div>
    <div class="table-responsive">
    <table class="table table-responsive table-borderless">
        
      <thead>
        <tr class="bg-light">
      
          <th scope="col" width="5%">ID</th>
          <th scope="col" width="20%">Nome</th>
          <th scope="col" width="20%">Date</th>
          <th scope="col" width="10%">Pago</th>
          <th scope="col" class="text-end" width="20%"><span>Valor</span></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for invest in investment %}
        <tr>
          <td>{{ invest.id }}</td>
          <td>{{ invest.name }}</td>
          <td><i class="fa fa-check-circle-o green"></i><span class="ms-1">{{ invest.date }}</span></td>
          <td>
            <input type="checkbox" {% if invest.status %}checked{% endif %} disabled>
          </td>          
          <td class="text-end"><span class="fw-bolder">R${{ invest.value }}</span> <i class="fa fa-ellipsis-h  ms-2"></i></td>
          <td><a href="{% url 'detail_investment' invest.id %}"><button type="button" class="btn btn-primary">Ver</button></a></td>
          <td><a href="{% url 'edit' invest.id %}"><button type="button" class="btn btn-warning">Editar</button></a></td>
          <td>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ invest.id }}">
              Excluir
            </button>
          </td>
        </tr>
      
        <!-- Modal de confirmação para exclusão -->
        <div class="modal fade" id="deleteModal{{ invest.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ invest.id }}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmar Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
              </div>
              <div class="modal-body">
                Tem certeza de que deseja excluir o investimento {{ invest.name }}?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a href="{% url 'delete' invest.id %}">
                  <button type="button" class="btn btn-danger">Excluir</button>
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </tbody>
      
</table>
  
  </div>
  <a href="{% url 'index' %}"><button type="button" class="btn btn-light">Voltar</button></a>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Importante: {% endif %}
          {{ message }}
          </li>
          {% endfor %}
  </ul>
  {% endif %}
    
</div>
{% endblock %}