{% extends 'global/base.html' %}
{% load crispy_forms_tags %}

{% block 'content' %}

<div class="container">
    <h1>Formulário</h1>
    {% if form.errors %}
    <div class="alert alert-danger">
        <strong>Erro:</strong> Por favor, corrija os erros abaixo.
    </div>
    {% endif %}
    <form action="" method="POST">{% csrf_token %}

        {{ form | crispy }}


        <a href="{% url 'investment' %}" class="btn btn-outline-danger">Cancelar</a>
        <button type="submit" class="btn btn-success">Salvar</button>

    </form>
</div>
{% endblock %}